<div class="container">
<form action="">
    <div class="form-group">
        <label for="name">Name</label>
         <input type="text" id="name" placeholder="Name" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
         <input type="email" id="email" placeholder="Email" class="form-control">
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
         <input type="number" id="phone" placeholder="Phone" class="form-control">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
         <input type="number" id="age" placeholder="Age" class="form-control">
    </div>
    <button type="submit" id="btnsubmit" class="btn btn-dark">Submit</button>

</form>
</div>